<footer class="home-footer footer-grey text-white">
  <div class="container p-3">
    <div class="home-site-info small">
      &copy; <a href="https://www.williamscarpentry.co.uk" class="text-white">williamscarpentry.co.uk</a> {{ current_year }}
    </div>
    <div class="home-site-info small">
      Designed by <a href="https://micha.elwarner.co.uk" class="text-white">micha.elwarner.co.uk</a>
    </div>
  </div>
</footer>
<div id="back-to-top" style="display: block;" (click)="topFunction()">
  <span class="fa fa-arrow-up"></span>
  <span>&nbsp;TOP</span>
</div>
