<a id="aboutus" class="anchor"></a>
<section class="section section-about p-5"
         style="background:url('../../../assets/img/home-bg02.jpg') repeat top left scroll;">
  <div class="container">
    <h1 class="pb-4">About Us</h1>
    <div class="row">
      <div class="col-sm-6 col-md-7 col-lg-8">
        <h3>Biography</h3>
        <p style="text-align: left">With 10 + years of experience in carpentry and building, we have built up a wealth of knowledge shared with the other contractors we use. This helps our customers complete their jobs to a high standard and within their time constraints.</p>
      </div>
      <div class="col-sm-6 col-md-5 col-lg-4">
        <h3>Contact Us</h3>
        <div class="row">
          <div class="col-2">
            <fa-icon [icon]="['fas', 'phone']"></fa-icon>
          </div>
          <div class="col-10">
            <a href="tel:+447734295091">+44 7734 295091</a>
          </div>
          <div class="col-2">
            <fa-icon [icon]="['fas', 'map-marker-alt']"></fa-icon>
          </div>
          <div class="col-10">
            Poole, Dorset
          </div>
          <div class="col-2">
            <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
          </div>
          <div class="col-10">
            <a href="mailto:info@williamscarpentry.co.uk">info@williamscarpentry.co.uk</a>
          </div>
          <div class="col-2">
            <fa-icon [icon]="['fas', 'desktop']"></fa-icon>
          </div>
          <div class="col-10">
            <a href="https://www.williamscarpentry.co.uk">www.williamscarpentry.co.uk</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</section>
