<a id="services" class="anchor"></a>
<section class="section section-services p-5"
         style="background:url('../../../assets/img/home-bg03.jpg') repeat top left scroll;">
  <div class="container">
    <h1 class="pb-4">Services</h1>
    <div class="row">
      <div class="col-sm-6">
        <ul class="font-weight-bold">
          <li>Kitchens</li>
          <li>Fitted wardrobes</li>
          <li>Fitted cupboards</li>
          <li>Decking</li>
          <li>Custom Furniture</li>
          <li>Van conversons/fitting (VW, Mercedes etc)</li>
          <li>Camping Units</li>
          <li>Polycarbonate Roofs/Lean to's</li>
          <li>Doors</li>
          <li>Stairs</li>
          <li>Fencing</li>
          <li>Gates</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul class="font-weight-bold">
          <li>Flooring</li>
          <li>Walls &amp; Partitioning/Dry Lining</li>
          <li>Cladding</li>
          <li>Roofing</li>
          <li>uPVC Doors &amp; Windows including repairs</li>
          <li>Porches</li>
          <li>Extensions</li>
          <li>Refurbs</li>
          <li>Repairs</li>
          <li>Timber Windows</li>
          <li>Sash Windows</li>
          <li>Joinery</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-2 col-lg-1" style="font-size: 1.5em;">
        <fa-icon [icon]="['fas', 'wrench']"></fa-icon>
      </div>
      <div class="col-10 col-lg-11 font-weight-bold text-justify">
        We also work with a team of highly skilled &amp; qualified electricians, plumbers, plasterers, painters and
        window/glazing specialists. So please contact us for more information.
      </div>
    </div>
  </div>
</section>
