<a id="testimonials" class="anchor"></a>
<section class="section p-5"
         style="background-color: #dddddd;">

  <div class="container">
    <h1 class="pb-4">Testimonials</h1>
    <p class="pb-2">We operate through most of Dorset & Hampshire but are always looking to expand our business so please contact us with your enquiry.</p>

    <div class="row">

        <div class="col-3">
          <fa-icon style="color: yellow;" [icon]="['fas', 'star']"></fa-icon>
          <fa-icon style="color: yellow;" [icon]="['fas', 'star']"></fa-icon>
          <fa-icon style="color: yellow;" [icon]="['fas', 'star']"></fa-icon>
          <fa-icon style="color: yellow;" [icon]="['fas', 'star']"></fa-icon>
          <fa-icon style="color: yellow;" [icon]="['fas', 'star']"></fa-icon>
        </div>
        <div class="col-9 mb-3">
          <span class="small">"We were delighted with our staircase they did for us, very professional and quick!" - Mr Brokenshire, Wimborne</span>
        </div>

        <div class="col-3">
          <fa-icon style="color: yellow;" [icon]="['fas', 'star']"></fa-icon>
          <fa-icon style="color: yellow;" [icon]="['fas', 'star']"></fa-icon>
          <fa-icon style="color: yellow;" [icon]="['fas', 'star']"></fa-icon>
          <fa-icon style="color: yellow;" [icon]="['fas', 'star']"></fa-icon>
          <fa-icon style="color: yellow;" [icon]="['fas', 'star']"></fa-icon>
        </div>
        <div class="col-9 mb-3">
          <span class="small">"The job they did on our doors was fantastic, very reasonably priced" - Mr Johnston, Ringwood</span>
        </div>

        <div class="col-3">
          <fa-icon style="color: yellow;" [icon]="['fas', 'star']"></fa-icon>
          <fa-icon style="color: yellow;" [icon]="['fas', 'star']"></fa-icon>
          <fa-icon style="color: yellow;" [icon]="['fas', 'star']"></fa-icon>
          <fa-icon style="color: yellow;" [icon]="['fas', 'star']"></fa-icon>
          <fa-icon style="color: yellow;" [icon]="['fas', 'star']"></fa-icon>
        </div>
        <div class="col-9 mb-3">
          <span class="small">"Williams Carpentry fitted a kitchen for us which was such a great job, we&apos;ve called them back to do lots more" - Mrs Harvey, Southampton</span>
        </div>

    </div>

  </div>

</section>
